.hero {
  height: 30vh;
  min-height:50vh;
  padding:120px 40px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  background:
    radial-gradient(circle at top left,#3b82f620,transparent 35%),
    radial-gradient(circle at bottom right,#8b5cf620,transparent 40%),
    #050816;
}

.aurora{
    position:absolute;
    inset:0;
    overflow:hidden;
}

.aurora::before,
.aurora::after{
    content:"";
    position:absolute;

    width:700px;
    height:700px;

    border-radius:50%;

    filter:blur(120px);

    opacity:.35;
}

.aurora::before{
    background:#00e5ff;

    top:-200px;
    left:-100px;

    animation:float1 12s infinite alternate;
}

.aurora::after{
    background:#7c3aed;

    bottom:-200px;
    right:-100px;

    animation:float2 14s infinite alternate;
}

@keyframes float1{
   from{
      transform:translate(0,0);
   }
   to{
      transform:translate(150px,80px);
   }
}

@keyframes float2{
   from{
      transform:translate(0,0);
   }
   to{
      transform:translate(-150px,-80px);
   }
}

.overlay {
  position: absolute;
  inset: 0;

  background:
  linear-gradient(
    135deg,
    rgba(59,130,246,.08),
    rgba(139,92,246,.08)
  );

  backdrop-filter: blur(30px);
}

.content {
  position: relative;
  z-index: 2;

  text-align: center;
  max-width: 1000px;
  padding: 40px;
}

.tag {
  color: #7dd3fc;

  letter-spacing: 3px;

  font-size: .9rem;

  margin-bottom: 25px;
}

.heading {
  font-size:clamp(1rem,5vw,3rem);

   font-weight:900;

   line-height:.95;

   background:linear-gradient(
      90deg,
      #ffffff,
      #7dd3fc,
      #a855f7
   );

   -webkit-background-clip:text;
   color:transparent;
}

.desc {
  color: #cbd5e1;

  margin-top: 30px;

  font-size: 1.2rem;

  max-width: 700px;

  margin-inline: auto;
}

@keyframes slideText {
  from {
    opacity: 0;
    transform: translateY(70px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}